.button-adults-all{
    text-align: center;
}
.gallery-adults-all1{
    width: 300px;
    height: 300px;
    float: left;
    margin-left: 100px;
    margin-top: 10px;
}
.gallery-adults-all2{
    width: 300px;
    height: 300px;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}
.gallery-adults-all3{
    width: 300px;
    height: 300px;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}
.gallery-adults-all4{
    width: 300px;
    height: 300px;
    float: left;
    margin-top: 10px;
    margin-left: 100px;
}
.gallery-adults-all5{
    width: 300px;
    height: 300px;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}
.gallery-adults-all6{
    width: 300px;
    height: 300px;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}
.gallery-adults-all7{
    width: 300px;
    height: 300px;
    float: left;
    margin-top: 10px;
    margin-left: 100px;
}
.gallery-adults-all8{
    width: 300px;
    height: 300px;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}
.gallery-adults-all9{
    width: 300px;
    height: 300px;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}
.button-adults-zebra{
    text-align: center;
}
.gallery-adults-zebra1{
    width: 300px;
    height: 300px;
    float: left;
    margin-left: 100px;
    margin-top: 10px;
}
.gallery-adults-zebra2{
    width: 300px;
    height: 300px;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}
.gallery-adults-zebra3{
    width: 300px;
    height: 300px;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}
.button-adults-brookline{
    text-align: center;
}
.gallery-adults-brookline1{
    width: 300px;
    height: 300px;
    float: left;
    margin-left: 100px;
    margin-top: 10px;
}
.gallery-adults-brookline2{
    width: 300px;
    height: 300px;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}
.gallery-adults-brookline3{
    width: 300px;
    height: 300px;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}
.button-adults-clear{
    text-align: center;
}
.gallery-adults-clear1{
    width: 300px;
    height: 300px;
    float: left;
    margin-left: 100px;
    margin-top: 10px;
}
.gallery-adults-clear2{
    width: 300px;
    height: 300px;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}
.gallery-adults-clear3{
    width: 300px;
    height: 300px;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}
.button-adults-cute-easy{
    text-align: center;
}
.gallery-adults-cute-easy1{
    width: 300px;
    height: 300px;
    float: left;
    margin-left: 100px;
    margin-top: 10px;
}
.gallery-adults-cute-easy2{
    width: 300px;
    height: 300px;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}
.gallery-adults-cute-easy3{
    width: 300px;
    height: 300px;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}
.button-kids-all{
    text-align: center;
}
.gallery-kids-all1{
    width: 300px;
    height: 300px;
    float: left;
    margin-left: 100px;
    margin-top: 10px;
}
.gallery-kids-all2{
    width: 300px;
    height: 300px;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}
.gallery-kids-all3{
    width: 300px;
    height: 300px;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}
.gallery-kids-all4{
    width: 300px;
    height: 300px;
    float: left;
    margin-top: 10px;
    margin-left: 100px;
}
.gallery-kids-all5{
    width: 300px;
    height: 300px;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}
.gallery-kids-all6{
    width: 300px;
    height: 300px;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}
.gallery-kids-all7{
    width: 300px;
    height: 300px;
    float: left;
    margin-top: 10px;
    margin-left: 100px;
}
.gallery-kids-all8{
    width: 300px;
    height: 300px;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}
.gallery-kids-all9{
    width: 300px;
    height: 300px;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}
.button-kids-cartoon{
    text-align: center;
}
.gallery-kids-Cartoon1{
    width: 300px;
    height: 300px;
    float: left;
    margin-left: 100px;
    margin-top: 10px;
}
.gallery-kids-Cartoon2{
    width: 300px;
    height: 300px;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}
.gallery-kids-Cartoon3{
    width: 390px;
    height: 390px;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}
.button-kids-fruits{
    text-align: center;
}
.gallery-kids-fruits1{
    width: 300px;
    height: 300px;
    float: left;
    margin-left: 100px;
    margin-top: 10px;
}
.gallery-kids-fruits2{
    width: 300px;
    height: 300px;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}
.gallery-kids-fruits3{
    width: 300px;
    height: 300px;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}
.button-kids-cute-easy{
    text-align: center;
}
.gallery-kids-Cute-Easy1{
    width: 300px;
    height: 300px;
    float: left;
    margin-left: 100px;
    margin-top: 10px;
}
.gallery-kids-Cute-Easy2{
    width: 300px;
    height: 300px;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}
.gallery-kids-Cute-Easy3{
    width: 300px;
    height: 300px;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}